<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">repository.org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\Users\Cosmina\Desktop\Laborator_4_5\Biblioteca_prima_iteratie\Library\farmacie.db</property>

        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.current_session_context_class ">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>


        <mapping resource="Farmacist.hbn.xml"/>
        <mapping resource="Medic.hbn.xml"/>
        <mapping resource="Medicament.hbn.xml"/>
    </session-factory>
</hibernate-configuration>